/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.like-icon:hover .core {
  fill: black;
}
.like-icon:hover .main-body {
  fill: black;
}
.like-icon:active .core {
  fill: red;
  transition: fill 0.3s linear;
}
.like-icon:active .main-body {
  fill: red;
  transition: fill 0.3s linear;
}
.core {
  opacity: 1;
  fill: transparent;
  transition: fill 0.3s 0.05s;
}
.main-body {
  fill: transparent;
  transition: fill  0.3s 0.03s;
    
}
.countour {
  fill: black;
  transition: fill 0.3s linear
}
@keyframes sparks {
  0% {
    fill:transparent;
  }
  100% {
    fill: red;
  }
}
@keyframes scale {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.25;
  }
}
.like-icon.is-liked .heart {
  transform-origin: center;
  animation: 0.3s ease-in 0.1s scale;
}
.like-icon.is-liked .countour {
  fill: red;
  transition: fill 0.3s linear 0.06s;
}
.like-icon.is-liked .main-body {
  fill: red;
  transition: fill 0.3s linear 0.05s;
}
.like-icon.is-liked .core {
  fill: red;
  transition: fill 0.3s linear;
}
.like-icon.is-liked .sparks {
  animation: 0.3s ease-in 0.3s  sparks;
}
